{% extends 'base.html' %}

{% block title %}Planetshop | Login{% endblock %}

{% block style %}
  <style>
    .top_buttons {
        margin-bottom: 20px;
    }
  </style>
{% endblock %}

{% block body %}

<h1> Login </h1>

{% if error %}
    <p>{{ error }}</p>
    <form class="top_buttons" method="GET" action="{{url_for('users.get_register')}}">
        <button>
            Back to register
        </button>
    </form>
{% else %}
<form  class="top_buttons" method="GET" action="{{url_for('planets.planets_all')}}">
    <button>
        Back to Home
    </button>
</form>
{% endif %}

<form method="POST">
    <div>
        <label for="email">Email</label>
        <input type="email"  name="email" id="email" required>
    </div>

    <div>
        <label for="password">Password</label>
        <input type="password" name="password" id="password" required>
    </div>

    <input type="submit" value="Login">
</form>

{% endblock %}
