{% extends 'base.html' %}

{% block title %}Cookieshop | Checkout{% endblock %}

# dont know why this comment is not colored in green; 
# this is jinja for showing a error in case no name was entered; 
# the function in orders/routes.py was commented out
# {% if error %}
#   <p style="color: tomato";>{{ error }}</p>
# {% endif %}

{% block body %}

    <h1>Checkout</h1>

    <form method="get" action="{{url_for('planets.planets_all') }}">
        <button>
            Go back to main
        </button>
    </form>

    <form method="POST">
        <h2>Order a Planet!</h2>
        <ul>
            {% for planet in planets %}
                <li>
                    <label for="planet_{{ planet.id }}">{{ planet.name }}</label>
                    <input type="number" name="{{ planet.slug }}" id="planet_{{ planet.id }}" min="0" value="0">
                </li>
                {% endfor %}
        </ul>

        <h2>Your Address:</h2>
        <div>
            <label for="name">Full Name</label>
            <input type="text" name="name" id="name" placeholder="Alias Alien">
        </div>
        <div>
            <label for="planet">Home Planet:</label>
            <input type="text" name="planet" id="planet" placeholder="Earth">
        </div>
        <div>
            <label for="galaxy">Galaxy:</label>
            <input type="text" name="galaxy" id="galaxy" placeholder="Milky Way">
        </div>
        <div>
            <label for="gg">Galaxy group</label>
            <input type="text" name="gg" id="gg" placeholder="Local Group">
        </div>
        <div>
            <label for="ngc">NGC Identifier</label>
            <input type="text" name="ngc" id="ngc" placeholder="MV">
        </div>
        <input type="submit" value="Submit Order">
    </form>

{% endblock %}

