{% extends 'base.html' %}

{% block title %} Planets {% endblock %}

{% block head %}
  <style>
    .register_login a {
      display: inline-block;
      margin-right: 10px;
    }
  </style>
{% endblock %}

{% block body%}
    <h1>Welcome to the Solar System!</h1>
    <ul>
      {% for planet in planets_pagination.items %}
        <li>
          <a href="/planets/{{ planet.id }}">{{ planet.name }}</a>
        </li>
      {% endfor %}
    </ul>
    <div>
      <a href="/checkout">Click here to checkout</a>
    </div>
    <br>
    <nav>
      {% if planets_pagination.prev_num %}
        <a href="{{ url_for('planets.planets_all', page=planets_pagination.prev_num)}}">Previous Page</a>
      {% else %}
        <span>Previous Page</span>
      {% endif %}

      <span> - </span>

      {% if planets_pagination.next_num %}
        <a href="/planets?page={{ planets_pagination.next_num }}">Next Page</a>
      {% else %}
        <span>Next Page</span>
      {% endif %}
    </nav>
    <br>
    <div class="register_login">
      <a href="/register">Register</a>
      <a href="/login">Login</a>
    </div>
    <br>
    <a href="/legal">Download legal details</a>
{% endblock %}